In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import os
import importlib

# Add src folder to path
sys.path.append("../src")

# Import and reload to get latest changes
import ingest as ingest_module
importlib.reload(ingest_module)
from ingest import ingest

plt.style.use("ggplot")

In [5]:
raw_path = "../Data/comcast_consumeraffairs_complaints.csv"

df = ingest(raw_path)
df.head()

,author,posted_on,rating,text
0,"Alantae of Chesterfeild, MI",2016-11-22,1,I used to love Comcast. Until all these consta...
1,"Vera of Philadelphia, PA",2016-11-19,1,I'm so over Comcast! The worst internet provid...
2,"Sarah of Rancho Cordova, CA",2016-11-17,1,If I could give them a negative star or no sta...
3,"Dennis of Manchester, NH",2016-11-16,1,I've had the worst experiences so far since in...
4,"Ryan of Bellevue, WA",2016-11-14,1,Check your contract when you sign up for Comca...

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5629 entries, 0 to 5658
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   author     5629 non-null   object
 1   posted_on  2941 non-null   datetime64[ns]
 2   rating     5629 non-null   int64
 3   text       5629 non-null   object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 219.9+ KB

In [7]:
df.isna().sum()

author          0
posted_on    2688
rating          0
text            0
dtype: int64

In [8]:
if "issue" in df.columns:
    plt.figure(figsize=(10, 5))
    df["issue"].value_counts().head(10).plot(kind="bar")
    plt.title("Top 10 Issues Reported")
    plt.show()

In [9]:
if "state" in df.columns:
    plt.figure(figsize=(12, 5))
    df["state"].value_counts().head(20).plot(kind="bar")
    plt.title("Complaints Count by State")
    plt.show()

In [10]:
output_path = "../Data/comcast_consumeraffairs_complaints.csv"
df.to_csv(output_path, index=False)
output_path

'../Data/comcast_consumeraffairs_complaints.csv'